<h1>WhatIf Demo</h1>

<div *ngIf="!!progressService.inProgress">
    <img src="assets/gear.png"> Please, wait...
</div>

<div *ngIf="!!progressService.errorMessage">
    <h2 class="bad">ERROR: {{progressService.errorMessage}}</h2>
</div>

<hr>

<div id="fb-root"></div>
<div *ngIf="authService.userId === null">
    <h2>Please, login with Facebook:</h2>
    <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
</div>

<router-outlet *ngIf="authService.userId !== null" ></router-outlet>